@model IEnumerable<BookDTO>
@{
    ViewData["Title"] = "BookIndex";
}

<h1>BookIndex</h1>
<p>
    <a asp-action="BookCreate" class="btn btn-outline-primary">Add Book <i class="fa fa-plus fa-bounce"></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvailable)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>

                <td>@Html.DisplayFor(modelItem => item.Author)</td>

                <td>@Html.DisplayFor(modelItem => item.Year)</td>

                <td>@Html.DisplayFor(modelItem => item.Genre)</td>

                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                <td>@Html.DisplayFor(modelItem => item.isAvailable)</td>

                <td>
                    <a asp-action="Details" class="btn btn-success" asp-route-Id="@item.Id">Details <i class="fa fa-edit"></i></a>

                    <a asp-action="UpdateBook" class="btn btn-warning" asp-route-Id="@item.Id"
                    >Edit <i class="fa fa-edit"></i></a>

                    <a asp-action="DeleteBook" class="btn btn-danger" asp-route-Id="@item.Id">Delete <i class="fa fa-trash"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
